/* cssreset */
*{margin:0;padding: 0;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form,input,textarea,th,td,select{margin:0;padding: 0;}
h1,h2,h3,h4,h5,h6,em,strong{font-weight: normal;}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration:none;}
button{border: none;outline: none;}
img{border:none;vertical-align: top;}
table{border-collapse:collapse;}
input,textarea{outline:none;}
textarea{resize:none;overflow: auto;}
body{font-size: 12px;font-family: "微软雅黑";background: #fff;}


/* 公共样式 */
.clearfix{zoom:1;}
.clearfix:after{content: '.';display: block;height: 0;clear: both;visibility: hidden;overflow: hidden;}
.fl{float: left;}
.fr{float: right;}

/* layout */
#top,#footer,#banner,#content,#envir{min-width: 1208px;}
#header,#product,.top_con,.content_wrap,.footer_con{width: 1208px;margin: 0 auto;}
#top{height: 36px;background: #f3f3f3;}


.top_con{line-height: 36px;color: #333;position: relative;}
.top_con a{margin-left: 7px;color: #21a557;}
.top_con a:hover{text-decoration: underline;}
.top_con p{height: 36px;/*display: inline-block;*display:inline;*zoom:1;*/cursor: pointer;padding-left: 15px;background: url(../img/close.png) no-repeat 0 14px;position: absolute;top:0;right: 0;}
.top_con p:hover{background-position: 0 -10px;}

#header{height: 89px;position: relative;}
#header h1,#header h1 img{height: 22px;width: 238px;}
#header h1{padding-top: 30px;}

.focus{position: absolute;left: 269px;top:31px;}
.focus .btn{height: 21px;display: inline-block;*display:inline;*zoom:1;line-height: 21px;padding-left: 22px;background: url(../img/header.png) no-repeat;}
.focus .fans{color: #666;margin-left: 14px;}
.focus .fans strong{padding: 0 7px;}
/*关注*/
.focus .btn_1{width:32px;color: #fff;cursor: pointer;}
.focus .btn_1:hover{background-position: -59px 0;}
.focus .btn_1 a{display: none;}
/*已关注*/
.focus .btn_2{width: 84px;background-position: 0 -26px;color: #333;}
.focus .btn_2 a{display: inline;}
.focus .btn_2 a{color:#999;cursor: pointer;margin-left: 18px; }
.focus .btn_2 a:hover{color: #21a557;text-decoration: underline;}


.nav{position: absolute;top:33px;right:0;}
.nav li{float: left;margin: 0 27px;}
.nav li a{font-size: 16px;color: #666;}
.nav li a:hover{color: #39a030;}
.nav .search{margin:0 14px 0 0;}
.nav .search a{display: block;width: 19px;height: 19px;background: url(../img/header.png) no-repeat 0 -52px;margin-top: 3px;}
.nav .search a:hover{background-position: -24px -52px;}

/*#banner{min-width: 1208px;}*/
#banner a,#banner img{width: 1652px;height: 460px;}
#banner{position: relative;height: 460px;overflow: hidden;}
#banner a{position: absolute;top: 0;left: 0px;opacity: 0;filter:alpha(opacity=0);}
/*#banner .show{z-index: 1;}*/

.banner_btn{position: absolute;z-index: 100;left: 50%;margin-left: -33px;bottom: 20px;}
.banner_btn li{float: left;width: 10px;height:10px;margin: 0 6px;border-radius: 50%;background: #fff;cursor: pointer;}
.banner_btn .active{background: #000;}


#product{}
.product_list{padding: 60px 0 56px;}
.product_list li{float: left;margin-right: 75px;}
.product_list .list3{margin-right: 0;}
.product_list .list2 span{background-position: -117px 0;}
.product_list .list3 span{background-position: -232px 0;}
.product_list li span{display: block;width: 96px;height: 96px;background: url(../img/product.png) no-repeat;float: left;}
.product_list .list_con{width: 240px;float: left;padding-left: 12px;}
.product_list .list_con h2{font-size: 22px;margin-bottom: 10px;color: #333;}
.product_list .list_con p,.product_list .list_con a{font-size:14px;line-height: 24px;}
.product_list .list_con p{margin-bottom: 22px;color: #666;}
.product_list .list_con a{color: #39a030;}
.product_list .list_con a:hover{text-decoration: underline;}


#envir{height: 220px;overflow: hidden;}
#envir_con{position: relative;left: 0px;}
#envir_con img{display: block;float: left;margin:0 2px;}

#content{background: #f8f8f8;padding-top: 81px;}
#content .main{width: 980px;padding-bottom: 151px;position: relative;}
#content .side{width: 225px;/*height: 700px;*//*background: blue;*/}

.main_tab{width: 400px;margin-left: 1px;border: 1px solid #d4d3d3;border-top: none;box-shadow: 0 1px 1px rgba(50,50,50,0.1);margin-bottom: 28px;}
.main_tab li{width:200px;height: 50px;float: left;line-height: 50px;text-align: center;font-size: 20px;background: #fff;color: #666;cursor: pointer;}
.main_tab .active{color: #fff;background: #39a030;}


/* 内容区左右公共样式 */
.course{border: 1px solid #d4d3d3;box-shadow: 0 1px 1px rgba(50,50,50,0.1);border-top: none;background: #fff;/*cursor: pointer;*/}

/* 内容区私有样式 */
.main_wrap{}
.main_wrap .course{width: 225px;height: 228px;position: relative;}

.side{padding-top: 3px;}
.side .course{width: 223px;color: #333333;margin-bottom: 20px;}
.side .course h3{padding: 20px;font-size: 16px;line-height: 22px;border-bottom: 1px solid #ddd;}

.side_con1{padding: 20px 21px 20px 22px;}
.side_con1 p{font-size: 14px;margin-bottom: 8px;}
.side_con1 img{width: 180px;height: 110px;cursor: pointer;} 

.side_con2{padding: 19px 20px 0;}

/*底部公共样式*/
#footer{height: 262px;background: #2c3339;}
.footer_con{height: 262px;position: relative;}

.link_con{position: absolute;top:82px;right:0;}

/*底部私有样式*/
.copy{position: absolute;top:92px;left: 53px;}
.copy h2,.copy h2 img{width: 234px;height: 22px;}
.copy p{line-height: 24px;vertical-align: text-top;margin-top: 24px;color: #a2a4a5;}

.link{padding-right: 100px;}
.link h3{font-size: 13px;color: #a2a4a5;margin-bottom: 9px;}
.link li{margin-bottom: 9px;}
.link li a{font-size: 14px;color: #a2a4a5;}
.link li a:hover{text-decoration: underline;}

.link2{padding-right: 69px;}
.weibo{padding-right: 31px;background: url(../img/wibo.png) no-repeat 100% 100%;}

/*文字...*/
.host_list h4,.cour h3,.hover_top h4{text-overflow:ellipsis;overflow: hidden;white-space:nowrap;}


/* 热门列表 */
.host_list{}
.host_list .host_list_con{float: left;}
.host_list li{height: 50px;margin-bottom: 20px;}
.host_list img{display: block;float: left;width: 50px;height: 50px;margin-right: 12px;}
.host_list h4{font-size: 14px;line-height: 16.8px;margin-bottom: 12px;color: #333;}
.host_list span{padding-left: 16px;font-size: 10px;background: url(../img/people_icon.png) no-repeat 1px 3px;color: #999;}

/* 课程列表 */
.cour:hover .course_title{color: #39a030;}
.cour:hover .hover{display: block;}

.course_con{padding: 0 5px;}
.cour{float: left;margin-bottom: 19px;margin-right: 18px;}
.cour em,.cour span,.cour strong,.cour h3{display:block;margin-bottom: 6px;}
.cour img{width: 223px;height: 124px;padding: 1px 1px 10px;}
.cour h3{line-height: 16.8px;color: #333;}
.cour em{line-height: 16.8px;color: #999;}
.cour span{display: inline-block;height: 16px;line-height: 16px;text-indent: 14px;color: #ccc;border: 1px solid #ddd;background: url(../img/people_icon.png) no-repeat 2px 3px;color: #999;padding:0 3px;border-radius: 1px;}
.cour strong{color: #ff3f00;}


.hover{width: 479px;height: 238px;display: none;position: absolute;border:1px solid #d0cfd0;z-index: 10;left: -10px;top: -10px;box-shadow: 0 0 2px rgba(50,50,50,0.1);}
.hover_top{padding: 11px 11px 20px;background: #fff;height: 124px;}
.hover_top img{width: 223px;height: 124px;display: block;float: left;margin-right: 19px;}
.hover_top_con{float: left;width: 210px;}
.hover_top_con h4{font-size: 18px;line-height: 20px;color: #333;margin-bottom: 15px;}
.hover_top_con div{padding-left: 15px;margin-bottom: 8px;line-height: 20px;color: #666;background: url(../img/people_icon.png) no-repeat 0 4px; }
.hover_top_con p{margin-bottom: 2px;line-height: 20px;color: #666;}

.hover_bottom{padding: 20px 34px 13px 21px;background: #f8f8f8;}
.hover_bottom p{height: 50px;overflow: hidden;line-height: 24px;font-size: 14px;color: #666;}


/*分页器*/
.page{position: absolute;bottom: 120px;right: 18px;}
.page a{display: block;float: left;width: 20px;height: 20px;margin-left: 8px;color: #666;text-align: center;line-height: 20px;}
.page a:hover{color: #39a030;}
.page .select{background: #9dd8b1;color: #fff;}
.page .select:hover{color: #fff;}

.page .page_l,.page .page_r{width: 30px;}
.page .page_l{background: url(../img/pre.gif) no-repeat;}
.page .page_r{background: url(../img/next.gif) no-repeat;}


/*遮罩*/
#shade{display: none;position: fixed;top:0;left: 0;width: 100%;height: 100%;background: #000;z-index: 100;opacity: 0.7;filter:alpha(opacity=70);}

/*登录窗口*/
#login{display: none;width: 347px;height: 258px;position: fixed;left: 50%;top:50%;padding-left: 40px;z-index: 200;background: #fff;padding-top: 30px;margin-left: -194px;margin-top: -144px;}
#login h3{font-size: 18px;color: #444;margin-bottom: 20px;}
#login input{width: 273px;height: 23px;margin-bottom: 15px;padding: 10px;box-shadow: inset 2px 2px rgba(241,241,241,0.5);font-size: 16px;border:1px solid #dfdfdf;}
#login button{width: 293px;height: 46px;background: url(../img/button.gif) no-repeat;color: #fff;font-size: 16px;text-align: center;line-height: 46px;cursor: pointer;}
#login i{display: block;position: absolute;width: 10px;height: 10px;background: url(../img/login_close.png) no-repeat;right: 8px;top: 10px;cursor: pointer;}

/*视频弹窗*/
#video{display: none;position: fixed;left: 50%;top:50%;margin-left: -400px;margin-top: -280px;width: 800px;height: 560px;padding:29px 30px 0;background: #fff;z-index: 200;}
#video p{font-size: 18px;line-height: 28px;color: #444;margin-bottom: 10px;}
#video i{display: block;position: absolute;width: 10px;height: 10px;background: url(../img/login_close.png) no-repeat;right: 12px;top: 13px;cursor: pointer;}

/* 页面宽度<1205px时自适应 */
@media screen and (max-width:1205px){
    #top,#footer,#banner,#content,#envir{min-width: 960px;}
    #header,#product,.top_con,.content_wrap,.footer_con{width: 960px;margin: 0 auto;}
    #content .main{width: 735px;}
    .product_list .list_con{width: 162px;}
}